+++
title = "imaging.org.au"
linkTitle = "imaging.org.au"

+++

{{< blocks/cover title="Imaging data from NIF sites" image_anchor="center" height="auto" color="dark" >}}
<img src = "front-page-images.jpg" style="height:100px;" alt="front-page-images" />
{{< /blocks/cover >}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="" title="AMBMC" url="AMBMC" %}}
The Australian Mouse Brain Mapping Consortium (AMBMC) aims to provide researchers with access to a national facility to characterise their mouse models of neurological disease
{{% /blocks/feature %}}

{{% blocks/feature icon="" title="Human 7T" url="Human7T" %}}
A collection of 7T human brain MRI models. These are built using a Minimum Deformation Averaging technique and have resolutions below 0.3mm isotropic. Multiple contrasts are included
{{% /blocks/feature %}}

{{% blocks/feature icon="" title="Tissuestack" url="https://tissuestack.org" %}}
Tissue Stack is an open source web based image viewer which allows the user to 
view 3D data as 2D cross sections
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead color="dark" >}}
This website is a repository for larger projects that release data, the official website of the NIF is <a href="https://www.anif.org.au">www.anif.org.au</a>

{{< /blocks/lead >}}